In [1]:
number = 10
data = [x for x in range(0, number)]
data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(data)

In [8]:
df.head()

   0
0  0
1  1
2  2
3  3
4  4

In [9]:
df.tail()

   0
5  5
6  6
7  7
8  8
9  9